body{
    background-image: url("bg.jpg");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.login{
    min-width: 400px;
    width:30%;
    margin-top:8em;
    opacity:0.90;
}

.register{
    width:30%;
    min-width: 400px;
    margin-top:6em;
    opacity:0.90;
}

.deneme{
    margin-top:-1em;
}

.nav-item
{
  font-size: 20px !important;
}

a:hover {
  background-color: white;
  color: red !important
}


