body{
    background-image: url("img/bg.jpg");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;


}


.login{
    width:30%;
    margin-top:8em;
    opacity:0.90;
}

.register{
    width:30%;
    margin-top:6em;
    opacity:0.90;
}

.deneme{
    margin-top:-1em;
}



