{% extends "layout.html" %}

{% block content %}
<div class="container" style="margin-top:4em; opacity:0.90">
    <div class="jumbotron" style="overflow-x:auto;">
    <h1 style="text-align:center; font-size:48pt;text-shadow: 3px 3px #000000; color:red;opacity:0.9">BOOKS</h1>
        <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
            <thead class="thead-dark">
                <tr>
                    <th>Cover Image</th>
                    <th>Book Name</th>
                    <th>Author Name</th>
                    <th>Categories</th>
                    <th>Date</th>
                    <th>Comments</th>
                    <th>Point</th>
                </tr>
            </thead>
            <tbody>

                {% for book in books %}
                <tr class='clickable-row' data-href="{{ url_for('book',book_id=book.id) }}">
                    <td><img src="{{ url_for('static', filename='book_pics/' + book.image_book) }}" alt="" border=0 height=100 width=100></td>
                    <td>{{ book.book_name }}</td>
                    <td>{% for author in book.authors %}
                    {{ author.author_name }}
                    {% endfor %}</td>
                    <td>{% for category in book.categories %}
                    {{ category.category_name }}
                    {% endfor %}</td>
                    <td>{{ book.date_of_issue }}</td>
                    <td>{{ book.comments|length }}</td>
                    {% if (book.points|length) != 0 %}
                    <td>{{ ((book.points|sum(attribute='point'))/ (book.points|length))|round(1, 'floor') }} ({{ book.points|length }}) </td>
                    {% endif %}
                    {% if (book.points|length) == 0 %}
                    <td> 0.0 (0) </td>
                    {% endif %}

                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<script>
$(document).ready(function () {
$('#dtBasicExample').DataTable();
$('.dataTables_length').addClass('bs-select');
});

jQuery(document).ready(function($) {
    $(".clickable-row").click(function() {
        window.location = $(this).data("href");
    });
});

</script>

{% endblock content %}

