{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
    <div class="container login">
        <div class="jumbotron ">
            <h2 class="text-danger deneme" style="text-align:center; font-size:2.5vw;">LOGIN & DISCOVER</h2>
            {% with messages = get_flashed_messages(category_filter=["danger"]) %}
       {% if messages %}
       <ul>
           {% for message in messages %}
              <li style="color:red">{{ message }}</li>
           {% endfor %}
       </ul>
       {% endif %}
       {% endwith %}

       {% with messages = get_flashed_messages(category_filter=["success"]) %}
       {% if messages %}
       <ul>
           {% for message in messages %}
              <li style="color:green">{{ message }}</li>
           {% endfor %}
       </ul>
       {% endif %}
       {% endwith %}
            <form method="POST" action="">
                <dl>
                    {{wtf.quick_form(form)}}
                    <input class="btn btn-primary btn-block" type="submit" value="Login">
                </dl>
                <a href="{{ url_for('register') }}" style="color:blue">Don't you have an account? Click to register.</a>
            </form>
        </div>
    </div>
{% endblock content %}
