{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
    <div class="container opak register">
        <div class="jumbotron overflow-auto">
            <div class="container">
			    <h3 class="text-danger" style="text-align:center;">REGISTER & JOIN US</h3>
            </div>
			<form method="POST" action="">
                <dl>
                    {{wtf.quick_form(form)}}
                    <input class="btn btn-primary btn-block" type="submit" value="Register">
                </dl>
				<a href="{{ url_for('login') }}" style="color:blue">Do you have an account? Click to login.</a>
			</form>
		</div>
    </div>
{% endblock content %}